#root_homepage
  @media screen and (min-width: 0px)
    #hero
      width: 100%
      min-height: 85vh
      background-color: black
      position: relative
      overflow: hidden
      #main-logo
        width: 75%
        max-width: 75vh
        margin: 0 auto
        padding-top: 20vh
        svg
          width: 100%
          height: 100%
      h2
        text-align: center
        color: white
        font-size: 1.5em
        margin: 1em
      .red-text
        color: $red
      #get-started
        @include display-flex
        @include flex-flow(row)
        @include justify-content(center)
        @include align-items(center)
        background-color: $red
        color: white
        border-radius: 5px
        height: 3em
        width: 10em
        margin: 0 auto 80px auto
        p
          text-transform: uppercase
          font-size: 1em
      #crosswalk
        position: absolute
        bottom: -4px
        left: -5%
        width: 110%
        margin: 0 auto
        svg
          width: 100%
          height: 100%
    #content
      background: white
      h2
        font-size: 1.5em
        margin-top: 1em
        margin-bottom: 1em
      p
        line-height: 1.5em
      #selling-points
        div
          padding-left: 15px
          padding-right: 15px
  @media screen and (min-width: 640px)
    #hero
      min-height: 550px
      #main-logo
        min-width: 300px
        width: 35%
        max-width: 420px
        margin: 0 auto
        padding-top: 5vh
        svg
          width: 100%
          height: 100%
      h2
        text-align: center
        color: white
        font-size: 1.8em
        margin-top: 0em
        margin-bottom: 1em
      #get-started
        height: 3.5em
        width: 14.5em
        margin: 0 auto
        p
          font-size: 1.5em
    #content
      padding-left: 50px
      padding-right: 50px
      h2
        font-size: 2em
      #selling-points
        div
          float: left
          width: 33%


// Sub-state styles can be put in the same file, if they aren't long enough
// to deserve a separate file.
#root_homepage_show
